<%- include('header'); -%>
<form name = 'loginForm' class="loginForm">
  <p class="loginForm__title">Admin panel</p>
  <input type='text' name = 'login' placeholder="login" />
  <input type ='password' placeholder="password" name='password' />
  <input type = 'submit' class="loginFOrm__enter" value = 'enter' />
</form>

<%- include('footer'); -%>
