.About {
    .About__title {
        text-align: center;
        font-weight: bold;
        font-size: 2.8rem;
    }

    .roadCareer__content {
        font-size: 1.1rem;
        margin: 0 10%;
        padding: 25px 0;
    }
}

@media screen and (max-width: 650px){
    .About .About__title {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 900px){
    .About__Content {
        flex-direction: column;
    }
    .About__Content .About__Content__contentMain p {
        padding-left: 0;
    }
    .About .roadCareer__content {
        margin: 0;
    }
}