:root {
    font-family: 'Roboto',Arial,sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 90%;
}

.col-6{
    flex: 0 0 50%;
}

.col-10{
    flex: 0 0 90%;
}

.col-9{
    flex: 0 0 80%;
}

.col-2 {
    flex: 0 0 10%;
}


.scroller {
    position: absolute;
    width: 100%;
    top: 0;
    transition: all .3s ease-in-out;
}

.scroller-before:before{
        content: '';
        width: 100%;
        display: block;
        height: 10vh;
        box-sizing: border-box;
}

@media screen and (max-width: 930px){
    .col-9 {
        flex: 0 0 75%;
    }
}