.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .ListItem.item__weCan{
        width: 40%;
        align-items: unset;
        text-align: unset; 
        padding: 0;
        box-shadow: unset;
    }
    .ListItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        width: 25%;
        text-align: center;
        margin: 10px;
        background-color: #ffffff;
        border-color: #e6e6e6;
        border-radius: 5px;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10);

        .ListItem__titleWrapper{
            display: flex;
            align-items: center;
            img {
                width: 30px;
                height: 30px;
                margin-right: 1px;
            }
        }

        .ListItem__icon {
            width: 30px;
            height: 30px;
        }

        .ListItem__title {
            font-weight: bold;
        }
        .ListItem__content {
            margin-top: 0;
            width: 70%;
        }

        .ListItem__controller{
            width: 100%;
            .ListItem__controller__button {
                cursor: pointer;
                font-size: .8rem;
                width: 30%;
                color: white;
                font-weight: bold;
                background-color: #db4646;
                transition: all .3s linear;
                width: 50%;
                height: 45px;
                white-space: normal;
                box-sizing: border-box;
                border-radius: 5px;
                outline: none;
                border: 0 none;
            }

            .ListItem__controller__button:hover,
            .ListItem__controller__button:active {
                color: black;
                box-shadow: 0 0 10px;
            }
        }
    }
}

.list--marginLeft--10{
    margin-left: 10%;
}