
.Card {
    width: 30%;
    background-color: rgb(211, 206, 206);
    padding: 3px;
    margin: 5px;

    p {
        word-break: break-word;
        padding: 5px;
    }
    .Card__title {
        font-weight: bold;
        font-size: 30px;
    }
    .Card__content {
        font-size: 20px;
    }
    .Card__priceName {
        font-weight:  bold;
        .Card__priceCard {
            color: red;
        }
    }
}

@media screen and (max-width: 867px){
    .Card {
        width: 80%;
        margin-bottom: 10px;
    }
}