
form {
    display: flex;
    align-items: center;
    justify-content: center;

    .form__textInput{
        margin: 0 5px;
        font-size: 100%;
        width: 20%;
        height: 60px;
        white-space: normal;
        padding: 0 20px;
        font-size: 16px;
        box-sizing: border-box;
        line-height: 1.33;
        border: 0 none;
        border-radius: 10px;
        outline: none;
        color: #000000;
        background-color: #efefef;
    }

    .form__submit{
        cursor: pointer;
        font-size: 1.05rem;
        width: 30%;
        color: white;
        font-weight: bold;
        background-color: #db4646;
        transition: all .3s linear;
    }
    .form__submit:hover,
    .form__submit:active {
        color: black;
        box-shadow: 0 0 10px;
    }

    .form__submit:active{
        color: wheat;
    }
}
