.ServicesList{
    display: flex;
    height: 60vh;
    .services_controllers{
        display: flex;
        flex-direction: column;
        margin-right: 5vh;
        
        input[type = 'button']{
            cursor: pointer;
            outline: none;
            font-weight: bold;
            font-size: 1.2rem;
            background-color: whitesmoke;
            border: 1px solid black;
            height: 33.33%;
            white-space: normal;
            width: 100%;
            margin: 1vh 0;
            transition: .3s ease-in-out;
        }

        input[type = 'button']:hover{
            background: rgb(83, 199, 117);
        }

        input.active {
            background: rgb(83, 199, 117);
        }
    }

    .services_content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: auto;
        p {
            word-wrap: break-word;
        }
    }

    .loaderServicesList{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}
