@media screen and (max-width: 1050px){
    .ServicesList .services_controllers{
        margin-right: 5vh;
    }

    .ServicesList .services_controllers input[type='button'] {
        font-size: 1rem;
        padding: 20px;
        white-space: normal;
    }

    
}


@media screen and (max-width: 900px){
    .Services {
    
        .Services__title {
            font-size: 1.8rem;
        }

        .col-4 {
            flex: 0 0 25%;
        }

        .col-7 {
            flex: 0 0 70%;
        }

        .ServicesList {
            flex-direction: column;
                .services_controllers{
                    margin-right: 0;
                    input {
                        width: 98%;
                        height: 20%;
                        margin: 1vh 0;
                    }
                }
        }
    }
}

@media screen and (max-width: 650px){
    .Services .col-7 {
        flex: 0 0 60%;
    }
}