.PriceContent {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
}

.nonePrice{
    width: 100%;
    font-weight: bold;
    font-size: 26px;
}


@media screen and (max-width: 867px){
    .PriceContent {
        justify-content: center;
    }
}