.PriceContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

.nonePrice{
    font-weight: bold;
    font-size: 30px;
}


@media screen and (max-width: 815px){
    .PriceContent {
        justify-content: center;
    }
}