header {
    width: 100%;
    display: flex;
    
    .menu{
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style-type: none;
        a {
            
            text-decoration: none;
            font-weight: bold;
            color: rgb(0, 0, 0);
            padding: 10px;
        }

        .selected {
            color :red;
        }
    }
}
