header {
    width: 100%;
    height: 72px;
    z-index: 1000;
    display: flex;
    background: whitesmoke;
    
    .menu{
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style-type: none;
        a {
            
            text-decoration: none;
            font-weight: bold;
            color: rgb(0, 0, 0);
            padding: 10px;
        }

        .selected {
            color :red;
        }
    }
}

.header-flex {
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
    display: flex;
    align-items: center;
};

header.fixed{

    max-width: 100%;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    background: whitesmoke;
    display: flex;

}


@media screen and (max-width: 650px){
    header:not(.fixed) {
        height: 120px;
    }
    .header-flex {
        flex-direction: column;
    }
    header .menu {
        justify-content: center;
        z-index: 10;
    }

    .fixed [alt='logo'] {
        position: absolute;
        left: 50%;
        width: 75%;
        transform: translate(-50%);
        opacity: 0.2;
    }

    div.buffer:before {
        content: '';
        display: block;
        height: 12vh;
    }
    header.fixed {
        height: 12vh;
    }
}

@media screen and (max-width: 400px){
    header:not(.fixed) {
        height: 22vh;
    }
    div.buffer:before {
        content: '';
        display: block;
        height: 15vh;
    }
    header.fixed {
        height: 15vh;
    }

    header.fixed [alt='logo'] {
        position: absolute;
        left: 50%;
        z-index: -1;
        width: 100%;
        transform: translate(-50%);
        opacity: 0.2;
    }
}

@media screen and (max-width: 355px){
    header:not(.fixed) {
        height: 30vh;
    }
}

// @media screen and (max-width: 650px)
// <style>
// header:not(.fixed) {
//     height: 30vh;
// }
// @media screen and (max-width: 355px)
// <style>
// header:not(.fixed) {
//     height: 30vh;
// }
// @media screen and (max-width: 400px)
// <style>
// header:not(.fixed) {
//     height: 20vh;
// }
// <style>
// header {
//     width: 100%;
//     z-index: 1000;
//     display: flex;
//     background: whitesmoke;
// }
// user agent stylesheet
// header {
//     display: block;
// }
// <style>
// :root {
//     font-family: 'Roboto',Arial,sans-serif;





// @media screen and (max-width: 400px)
// <style>
// header.fixed {
//     height: 15vh;
// }
// @media screen and (max-width: 650px)
// <style>
// header.fixed {
//     height: 12vh;
// }