
.Contact{
    .Contact__info{

        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 35%;
        margin: 0 auto;
    
        .Contact__info__title {
            font-weight: bold;
            font-size: 2.8rem;
        }
        .Contact__info__content{
            margin-top: 0;
            font-size: 1.3rem;
        }
    }
}

@media screen and (max-width: 650px){
    .Contact .Contact__info {
        width: 90%;
    }
    .Contact .Contact__info .Contact__info__title {
        font-size: 1.8rem;
    }
    .Contact .Contact__info {
        width: 90%;
    }
}

@media screen and (max-width: 1015px){
    .Contact .Contact__info {
        width: 60%;
    }
    .Contact .Contact__info .Contact__info__title {
        font-size: 2.3rem;
    }
    .Contact .Contact__info {
        width: 60%;
    }
}
