body {
    background-color: rgb(193, 232, 248);
}
.loginForm {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.loginForm label,p {
    text-align: center;
}

.loginForm input {
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    text-align: center;
    padding: 10px;
    display: block;
}

.loginForm .loginForm__title {
    font-size: 25px;
    font-weight: bold;
}

.loginForm .loginForm__enter {
    cursor: pointer;
    color: rgb(59, 2, 2);
    font-weight: bold;
    background-color: #FFF;
}

.loginForm .loginForm__enter:hover {
    color: red;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.cabinet .Cabinet__header {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.cabinet .Cabinet__header h1 {
    margin-bottom: 0;
}

.cabinet .logout {
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
}

.cabinet .logout:hover {
    color: red;
}

.isSelect {
    color: red;
}

.cabinetAction {
    width: 100%;
    display: flex;
}

.cabinetAction nav {
    display: flex;
    flex-direction: column;
}

.cabinetAction a {
    cursor: pointer;
    font-size:  20px;
    text-decoration: none;
}

.cabinetAction .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cabinetAction a:hover {
    color: tomato;
}

.cabinetAction .menuContentBlock .listMenu {
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 20px;
}

.cabinetAction .menuContentBlock .listMenu li {
    cursor: pointer;
}

.cabinetAction .menuContentBlock .listMenu li:hover {
    color: red;
}

.cabinetAction textarea {
    resize: none;
    width: 100%;
    height: 50%;
}

.cabinetAction .uploadForm, .cabinetAction .downloadForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cabinetAction .uploadForm::before {
    content: 'Upload form';
    display: block;
    font-weight: bold;
}

.cabinetAction .FormCardsAdd {
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cabinetAction .FormCardsAdd input {
    margin: 2px;
}

.cabinetAction .downloadForm::before {
    content: 'Download form';
    display: block;
    font-weight: bold;
}

.cabinetAction .uploadForm input, .cabinetAction .downloadForm input {
    margin: 5px;
}

.cabinetAction .cardsList {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.cabinetAction .cardsList li {
    flex: 0 0 90%;
    display: flex;
    margin: 5px;
    border: 1px solid black;
    align-items: center;
    flex-direction: column;
}

.col-menu {
    flex: 0 0 30%;
    height: 80vh;
}


.cabinetAction .cardsList p {
    margin: 0;
    text-align: center;
}

.cabinetAction .cardsList li .controllersCardWrapper {
    padding: 5px;
}

.cabinetAction .cardsList li .controllersCardWrapper input {
    margin: 1px;
}

.titleContent {
    font-weight: bold;
}

.contentBox {
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.flex-box {
    flex: 0 0 50%;
}


.flex-wrapper {
    display: flex;
    
}

.formsFile {
    border: 1px solid black;
    padding: 5px;
}


.col {
    flex: 0 0 70%;
    height: 80vh;
}

.active_link {
    font-weight: bold;
    color: red;
}
