.Contact__content {
    display: flex;
    margin: 0 20%;
    .Contact__content__telegram,
    .Contact__content__skype{
        font-weight: bold;
        font-size: 1.8rem;
        .telegram,
        .viber,
        .skype {
            color: rgb(255, 133, 98);
        }
    }
    .Contact__content__tel{
        font-weight: bold;
        font-size: 1.8rem;
    }
}
