.Contact__content {
    display: flex;
    margin: 0 20%;
    .Contact__content__telegram,
    .Contact__content__skype{
        font-weight: bold;
        font-size: 1.8rem;
        .telegram,
        .viber,
        .skype {
            outline: none;
            text-decoration: none;
            color: rgb(255, 133, 98);
        }
    }
    .Contact__content__tel{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1015px){
    .Contact__content {
        margin: 0 8%;
    }
}

@media screen and (max-width: 765px){
    .Contact__content {
        margin: 0;
    }
    .Contact__content__telegram, .Contact__content .Contact__content__tel {
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 650px){
    .Contact__content {
        flex-direction: column;
    }
    .contact-text--center {
        text-align: center;
    }
    .col-mobile {
        flex: 0 0 100%;
    }
    .contact input {
        height: 10vh;
        padding: 0;
        margin: 0;
    }
    .contact textarea {
        height: 30vh;
    }
    .contact input[type='button'] {
        align-self: center;
    }
}


