
.feedBack {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vh;

    .error {
        font-weight: bold;
        color: red;
        position: absolute;
        top: 0;
    }

    .done {
        color: green;
        font-weight: bold;
        position: absolute;
        top: 0;
    }
}